body {
	background-color: #4C4C33;
	padding: 20px
}
/* komentar */
.doc {
	position: static;
	width: 70%;
	margin: auto;
	font-family: Courier New;
	color: white;
	background-color: #5C5C3D;
	
}
/* još jedan komentar */
.podnaslov {
	text-align: center;
}

h4 {
	border: dotted;
	outline: 2px;
}

h2 {
	text-align: center;
}

.slika {
	text-align: center; 
	
	float: left;
}

#za_podcrtat {
	text-decoration: underline;
}
